			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<h2><i class="icon-edit"></i> 添加演员</h2>
					</div>
					<div class="box-content">
<iframe class="hide" name="hiddenframe" /></iframe>
						<form target="hiddenframe" method="POST" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">姓名</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="name" type="text" value="">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">演员类别</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="actor_title" type="text" value="">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">演员类别</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="actor_title" type="text" value="">
								<span class="help-inline">如：中央芭蕾舞首演，国家一级演员，演员队队长</span>
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">头像</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="avatar_upload" data-url="upload.php?a=actor" name="files[]" type="file" /> 
								</div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2"></label>
								  <div class="controls" id="avatar_thumbs">
                                    <div id="avatar_progress" style="width: 200px;">
                                    <div class="bar" style="width: 0%;"></div></div>
								  </div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2">演员介绍</label>
								  <div class="controls">
									<textarea class="cleditor" id="textarea2" name="description" rows="3"></textarea>
								  </div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">演员剧照</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="rpt_upload" data-url="upload.php?a=rpt" name="files[]" type="file" /> 
								</div>
							  </div>

                              <div class="control-group">
							  	<label class="control-label" for=""></label>
								  <div class="controls" id="rpt_thumbs">
                                    <div id="rpt_progress" style="width: 200px;">
                                    <div class="bar" style="width: 0%;"></div></div>
								  </div>
							  </div>

							  <div class="control-group">
								<label class="control-label" for="focusedInput">是否为推荐明星</label>
								<div class="controls">
								  <label class="radio">
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
									是
								  </label>
								  <div style="clear:both"></div>
								  <label class="radio">
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									否
								  </label>
								</div>							  </div>
							  <div class="form-actions">
								<button type="submit" class="btn span1 btn-primary">保存</button>
							  </div>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div
