			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<h2><i class="icon-edit"></i> 添加演员</h2>
					</div>
					<div class="box-content">
						<form id="mainform" class="form-horizontal">
							<input name="tbname" type="hidden" value="actor">
							<input name="id" type="hidden" value="<?=$id?>">
							<fieldset>
							  <div class="control-group">
								<label class="control-label" >姓名</label>
								<div class="controls">
								  <input class="input-xlarge focused" autofocus name="name" type="text" value="<?=$name?>" required>
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" >演员类别</label>
								<div class="controls">
	
								  <?= $actor_cate_select ?>												   
								</div>
							  </div>
							  
			                <?php require( dirname( __FILE__ ) . '/single_img_add.tpl.html'); ?>
							  <div class="control-group">
							  	<label class="control-label">演员介绍</label>
								  <div class="controls">
									<textarea class="cleditor" name="desc" rows="3"><?=$desc?></textarea>
								  </div>
							  </div>

                              <!--<div class="control-group">
							  	<label class="control-label" for=""></label>
								  <div class="controls" id="rpt_thumbs">
                                    
								  </div>
							  </div> -->
			                <?php require( dirname( __FILE__ ) . '/multi_img_add.tpl.html'); ?>
							 <div class="control-group">
								<label class="control-label" >是否为推荐明星</label>
								<div class="controls">

								  <label class="radio">
									<input type="radio" name="recommend" value="1" <?php if($recommend == 1) echo 'checked'?>>
									是
								  </label>
								  <div style="clear:both"></div>
								  <label class="radio">
									<input type="radio" name="recommend" value="0" <?php if($recommend == 0) echo 'checked'?>>
									否
								  </label>
								</div>							  
                            </div>
			                <?php require( dirname( __FILE__ ) . '/form_action.tpl.html'); ?>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div
