<input type="hidden" id="tbname" name="tbname" value="audi" />
<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>用户头像</th>
								  <th>用户手机</th>
								  <th>用户email</th>
								  <th>用户名</th>
								  <th>注册时间</th>
								  <th>可信用户</th>
							  </tr>
						  </thead>
<tbody>
<?php
foreach($result as $k=>$v){
?>
<tr>

						<td><img class="dashboard-avatar" alt="" src="<?=$v['avatar']?><"></td>
						<td><?=$v['phone']?></td>
						<td><?=$v['email']?></td>
						<td><?=$v['name']?></td>
						<td><?=$v['regtime']?></td>
						<td class="trust">
							<?php
								if($v['trust'] == 1){
									$yes = 'checked';
									$no = '';
								}else{
									$yes = '';
									$no = 'checked';
								}
							?>
							
							是<input type="radio" value=1 name="name_<?=$v['id']?>" usrname="<?=$v['name']?>" <?=$yes?>/>
							否<input type="radio" value=0 name="name_<?=$v['id']?>" usrname="<?=$v['name']?>" <?=$no?>/>
							<a class="btn btn-danger del" data-id="<?=$v['id']?>" href="#"><i class="icon-trash icon-white"></i>删除</a>
						</td>
					</tr>
		<?php
}
?>
	</tbody>
</table>
