<input type="hidden" id="tbname" name="tbname" value="message" />
<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th><label><input type="checkbox" name="selectAll" /> 全选</label></th>
								  <th>留言内容</th>
								  <th>时间</th>
								  <th>用户名</th>
								  <th>用户手机</th>
								  <th>操作</th>
							  </tr>
						  </thead>
<tbody>
<?php
foreach($result as $k=>$v){
?>
<tr>
						<td><input type="checkbox" name="sel[]" value="<?=$v['id']?>" /></td>
						<td><?=$v['msg']?></td>
						<td><?=$v['time']?></td>
						<td><?=$v['uname']?></td>
						<td><?=$v['phone']?></td>
						
						<td class="center">
							<a class="btn btn-danger del" data-id="<?=$v['id']?>" href="#"><i class="icon-trash icon-white"></i>删除</a>
						</td>
					</tr>
		<?php
}
?>
	</tbody>
</table>
