<input type="hidden" id="tbname" name="tbname" value="news" />
<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th><input type='checkbox' name="selectAll" />全选</th>
								  <th>标题</th>
								  <th>类别</th>
								 <!-- <th>子标题</th>  -->
								  <th>时间</th>
                                  <th>推荐状态</th>
                                  <th>推荐管理</th>
								  <th>操作</th>
							  </tr>
						  </thead>
<tbody>
<?php
foreach($result as $k=>$v){
?>
<tr>
						<td><input type='checkbox' name="sel[]" value="<?=$v['id']?>" /></td>
						<td title="<?=$v['title']?>"><?= cutstr($v['title'],60,'...') ?></td>
						<td class="center"><?=$news_cate[$v['cate_id']]['name']?></td>
					<!--	<td><?=$v['subtitle']?></td>  -->
						<td><?=$v['add_time']?></td>
                            <?php
                            if($v['type'] == 1){?>
                            <td class="center"><span class="label label-warning">推荐</span></td>
                            <td class="center">
                                <a class="btn btn-info set_recom" data-value='0' href="#<?=$v['id']?>">取消推荐</a>
                                <a class="btn btn-warning set_recom" data-value='2' href="#<?=$v['id']?>">设为主推荐</a>
                            </td>
                            <?php 
                            }elseif($v['type'] == 2){?>
                            <td class="center"><span class="label label-warning">主推荐</span></td>
                            <td class="center">
                                <a class="btn btn-warning set_recom" data-value='1' href="#<?=$v['id']?>">设为推荐</a>
                                <a class="btn btn-info set_recom" data-value='0' href="#<?=$v['id']?>">取消主推荐</a>
                            </td>
                            <?php 
                            }else{?>
                            <td class="center"><span class="label label-info">没有推荐</span></td>
                            <td class="center">
                                <a class="btn btn-warning set_recom" data-value='1' href="#<?=$v['id']?>">设为推荐</a>
                                <a class="btn btn-warning set_recom" data-value='2' href="#<?=$v['id']?>">设为主推荐</a>
                            </td>
                            <?php 
                            }?>
						<td class="center">
							<a class="btn btn-info" href="news_add.php?id=<?=$v['id']?>"><i class="icon-edit icon-white"></i>编辑</a>
							<a class="btn btn-danger del" data-id="<?=$v['id']?>" href="#"><i class="icon-trash icon-white"></i>删除</a>
						</td>
					</tr>
		<?php
}
?>
	</tbody>
</table>

							  <div class="form-actions">
								<button id="batch_del" type="button" class="btn span2 btn-primary">批量删除</button>
							  </div>
<script type="text/javascript">
$(function () {
    $(".set_recom").click(function(){
        var vid = $(this).attr('href').split('#')[1];
        var rec = $(this).attr('data-value');
        $.getJSON('add.php?tbname=recommend&rcid=1&rec='+rec+'&rid='+vid,function(data){
            if(data.status == 0){
                alert('设置成功');
                window.location.reload();
            }
        });
    })
});
</script>
