			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<h2><i class="icon-edit"></i> 添加剧目</h2>
					</div>
					<div class="box-content">
						<form id="mainform" class="form-horizontal">
							<input name="tbname" type="hidden" value="repertory">
							<input name="id" type="hidden" value="<?=$id?>">
							<fieldset>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目标题</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="title" type="text" value="<?=$title?>">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目子标题</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="subtitle" type="text" value="<?=$subtitle?>">
								</div>
							  </div>
			                  <?php require( dirname( __FILE__ ) . '/single_img_add.tpl.html'); ?>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目时间</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="time" type="text" value="<?=$time?>">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目票价</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="price" type="text" value="<?=$price?>">
								</div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2">剧目详细介绍</label>
								  <div class="controls">
									<textarea class="cleditor" id="textarea2" name="desc" rows="3"><?=$desc?></textarea>
								  </div>
							  </div>
							 
			                    <?php require( dirname( __FILE__ ) . '/multi_img_add.tpl.html'); ?>
 
							  <div class="control-group">
							  	<label class="control-label" for="textarea2">剧目订票电话</label>
								  <div class="controls">
								  	<input class="input-xlarge focused" id="focusedInput" name="phone" type="text" value="<?=$phone?>">
								  </div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目地址</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="addr" type="text" value="<?=$addr?>">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目视频(可选)</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="video" type="text" value="">
								</div>
							  </div>
			                    <?php require( dirname( __FILE__ ) . '/form_action.tpl.html'); ?>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div
