			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<h2><i class="icon-edit"></i> 添加剧目</h2>
					</div>
					<div class="box-content">
						<form class="form-horizontal">
							<fieldset>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目标题</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="title" type="text" value="">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目时间</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="time" type="text" value="">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目票价</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="price" type="text" value="">
								</div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2">剧目详细介绍</label>
								  <div class="controls">
									<textarea class="cleditor" id="textarea2" name="description" rows="3"></textarea>
								  </div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2">剧目剧照</label>
								  <div class="controls">
								  	<input class="input-xlarge focused" id="focusedInput" name="" type="text" value="">
								  </div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2">剧目订票电话</label>
								  <div class="controls">
								  	<input class="input-xlarge focused" id="focusedInput" name="phone" type="text" value="">
								  </div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目地址</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="address" type="text" value="">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">剧目视频(可选)</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="video" type="text" value="">
								</div>
							  </div>
							  <div class="form-actions">
								<button type="submit" class="btn span1 btn-primary">保存</button>
							  </div>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div
