			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<h2><i class="icon-edit"></i> 添加演出日程</h2>
					</div>
					<div class="box-content">
						<form id="mainform" class="form-horizontal">
							<input name="tbname" type="hidden" value="schedule">
							<input name="id" type="hidden" value="<?=$id?>">
							<fieldset>

							<div class="control-group">
								<label class="control-label" for="title">标题</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="title" name="title" type="text" value="<?=$title?>">
								</div>
							  </div>
							 

							  <div class="control-group">
								<label class="control-label" for="startdate">开始时间</label>
								<div class="controls">
								  <input class="input-xlarge focused datepicker" id="startdate" name="start_date" type="text" value="<?=$start_date?>">
								</div>
							  </div>
							 
							  <div class="control-group">
								<label class="control-label" for="enddate">结束时间</label>
								<div class="controls">
								  <input class="input-xlarge focused datepicker" id="enddate" name="end_date" type="text" value="<?=$end_date?>">
								</div>
							  </div>

<!--                                                          <div class="control-group">
                                                                <label class="control-label" for="textarea2">日程详情</label>
                                                                  <div class="controls">
                                                                        <textarea class="cleditor" style="width:500px" id="textarea2" name="desc" rows="20"><?=$description?></textarea>
                                                                  </div>
                                                          </div>
-->

							  <div class="control-group">
								<label class="control-label" for="focusedInput">地址</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="focusedInput" name="addr" type="text" value="<?=$addr?>">
								</div>
							  </div>

                                                        <div class="control-group">
                                                        <label class="control-label" for="selectError1">演出包含的剧目</label>
                                                        <div class="controls">
                                                        <?=$rpt_select?>
                                                        </div>								
								<div class="controls">
								<a class="btn btn-mini btn-success" href="repertory_add.php">添加剧目?</a>
								</div>
						      	</div>
 							<div class="control-group">
								<label class="control-label" for="nop">场次</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="nop" name="nop" type="number" value="<?=$nop?>">
								</div>
							 </div>

							<div class="control-group">
								<label class="control-label" for="phone">电话</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="phone" name="phone" type="text" value="<?=$phone?>">
								</div>
							 </div>

							<div class="control-group">
								<label class="control-label" for="price">票价</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="price" name="price" type="text" value="<?=$price?>">
								</div>
							 </div>


                                                        <div class="control-group">
                                                                <label class="control-label" for="price">购票地址</label>
                                                                <div class="controls">
                                                                  <input class="input-xlarge focused" id="ticket" name="ticket" type="text" value="<?=$ticket?>">
                                                                </div>
                                                         </div>



			                  		<?php require( dirname( __FILE__ ) . '/single_img_add.tpl.html'); ?>
			                  		<?php require( dirname( __FILE__ ) . '/form_action.tpl.html'); ?>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div
