<input type="hidden" id="tbname" name="tbname" value="sche" />
<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th><input type='checkbox' name="selectAll" />全选</th>
								  <th>时间</th>
								  
								  <th>地点</th>
								  <th>日程</th>
								  <th>场次</th>
								  <th>操作</th>
							  </tr>
						  </thead>
<tbody>
<?php
foreach($result as $k=>$v){
?>
<tr>
						<td><input type='checkbox' name="sel[]" value="<?=$v['id']?>" /></td>
						<td><?=$v['start_date']?> - <?=$v['end_date']?></td>
						
						<td class="center"><?=$v['addr']?></td>
						<td class="center"><?=$v['title']?></td>
						<td class="center"><?=$v['nop']?></td>
						<td class="center">
							<a class="btn btn-info" href="sche_add.php?id=<?=$v['id']?>"><i class="icon-edit icon-white"></i>编辑</a>
							<a class="btn btn-danger del" data-id="<?=$v['id']?>" href="#"><i class="icon-trash icon-white"></i>删除</a>
						</td>
					</tr>
		<?php
}
?>
	</tbody>
</table>

							  <div class="form-actions">
								<button id="batch_del" type="button" class="btn span2 btn-primary">批量删除</button>
							  </div>
