                            <div class="control-group">
								<label class="control-label" ><?=$single_image_text?></label>
								<div class="controls">
								  <input class="input-xlarge focused" id="avatar_upload" data-url="upload.php?a=<?=$single_image_moudle?>" name="files[]" type="file" /> 
								</div>
							  </div>
							  <div class="control-group">
							  	<label class="control-label" for="textarea2"></label>
								  <div class="controls">
                                    <div id="avatar_progress" style="width: 200px;">
                                    <div class="bar" style="width: 0%;"></div></div>
                                    <div  id="avatar_thumbs">
                                    <?php if($avatar){
                                    	echo '<img src="'.$avatar_src.'"'.' />';
                                    	
                                    	echo '<br /><strong>原图链接: </strong><a href="' . $avatar_ori_src . '" target="_blank"> 点击查看</a>';
                    					echo '<input name="avatar" type="hidden" value="'.$avatar.'"/>';
                                    }?>
                                </div>
								  </div>
							  </div>
