			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<h2><i class="icon-edit"></i> 编辑剧团信息</h2>
					</div>
					<div class="box-content">
						<form id="mainform" class="form-horizontal">
							<input name="tbname" type="hidden" value="troupe">
							<input name="id" type="hidden" value="1">
							<fieldset>
							  <div class="control-group">
							  	<label class="control-label">剧团介绍</label>
								  <div class="controls">
									  <!--<textarea class="cleditor" autofocus name="content" rows="5" col="10"><?$content?></textarea>-->
									<textarea  autofocus name="content" rows="20" style="width:500px"><?=$content?></textarea>
								  </div>
							  </div>
							  <?php require( dirname( __FILE__ ) . '/multi_img_add.tpl.html'); ?>
							  <?php require( dirname( __FILE__ ) . '/form_action.tpl.html'); ?>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div
